<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
>
<meta charset="UTF-8"/>
<head>
    <title>Home</title>
    <script th:src="@{sockjs.min.js}"></script>
    <script th:src="@{stomp.min.js}"></script>
    <script th:src="@{jquery.js}"></script>
</head>
<body>

<canvas width="500" height="500" id="canvas" ondblclick="dbclick()"></canvas>
<button onclick="dbclick()" text="BUTTON">BUTTON</button>

<p>
    聊天室
</p>

<form id="wiselyForm">
    <textarea rows="4" cols="60" name="text"></textarea>
    <input type="submit" name="send"/>
</form>

<script th:inline="javascript">
    var i;
    var c = document.getElementById("canvas");
    var ctx = c.getContext("2d");
    ctx.beginPath();
    /* <![CDATA[ */
    for (i = 0; i < 16; i++) {
        ctx.moveTo(30, 30 + i * 30);
        ctx.lineTo(480, 30 + i * 30);
    }
    for (i = 0; i < 16; i++) {
        ctx.moveTo(30 + i * 30, 30);
        ctx.lineTo(30 + i * 30, 480);
    }
    /* ]]> */
    ctx.stroke();

    function getStyles(obj) {//兼容FF，IE10; IE9及以下未测试
        return document.defaultView.getComputedStyle(obj);
    }

    function getCanvasPos(canvas, e) {//获取鼠标在canvas上的坐标
        var rect = canvas.getBoundingClientRect();
        var leftB = parseInt(getStyles(canvas).borderLeftWidth);//获取的是样式，需要转换为数值
        var topB = parseInt(getStyles(canvas).borderTopWidth);
        return {
            x: (e.clientX - rect.left) - leftB,
            y: (e.clientY - rect.top) - topB
        };
    }

    function dbclick() {
        var x = event.pageX;
        var y = event.pageY;
//        var x = event.pageX - ctx.getBoundingClientRect().left;
//        var y = event.pageY - ctx.getBoundingClientRect().top;
//        sendSpittle("x: " + x + ",y:" + y);
        var xx = document.getElementById("test");

        x = Math.floor((x - 30) / 30);
        y = Math.floor((y - 30) / 30);
        /* <![CDATA[ */
        if (x >= 0 && x < 15 && y >= 0 && y < 15) {
            xx.innerHTML = "x: " + x + ", y: " + y;
            sendSpittle("x: " + x + ",y:" + y);
        }
        /* ]]> */
    }


    $('#wiselyForm').submit(function (e) {
        e.preventDefault();
        var text = $('#wiselyForm').find('textarea[name="text"]').val();
        sendSpittle(text);
    });

    var sock = new SockJS("/endpointChat"); //1
    var stomp = Stomp.over(sock);
    stomp.connect('guest', 'guest', function (frame) {
        stomp.subscribe("/user/queue/notifications", handleNotification);//2
    });


    function handleNotification(message) {
        $('#output').append("<b>Received: " + message.body + "</b><br/>")
    }

    function sendSpittle(text) {
        stomp.send("/chat", {}, text);//3
    }

    $('#stop').click(function () {
        sock.close()
    });
</script>

<div id="output"></div>
<p id="test">test</p>
</body>
</html>
