<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home</title>
    <meta charset="UTF-8" name="viewport"
          content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <script th:src="@{sockjs.min.js}"></script>
    <script th:src="@{stomp.min.js}"></script>
    <script th:src="@{jquery.js}"></script>
    <!--<link rel="stylesheet" type="text/css" href="../static/mystyle.css">-->
    <style type="text/css">
        body {
            margin: 0;
            padding: 0;
        }

        p {
            color: red;
        }

        input.btn {
            height: 45px;
            width: 45px;
            font-size: 7px;
        }

        #canvas {
            border: 0;
        }
    </style>
</head>
<body>
<script th:inline="javascript">
    var head = new Array(2);
    var distanceFromBoundary = 30;
    var LEN = 30;
    head[0] = 7;
    head[1] = 7;
    var direction = 0;
    var turn = 0;
    var shotcolor = "#ffffff";
</script>
<canvas width="500" height="500" id="canvas" ondblclick="dbclick()"></canvas>
<br/>
<input id="button" type="button" value="BUTTON" onclick="button()" style="margin-left: 40%"/>
<br/>
<input id="up" class="btn" type="button" value="UP" onclick="moveup()" style="margin-left: 50px"/>
<br/>
<input id="left" class="btn" type="button" value="LEFT" onclick="moveleft()" style="margin-left: 0"/>
<input id="ok" class="btn" type="button" value="OK" onclick="ok()"/>
<input id="right" class="btn" type="button" value="RIGHT" onclick="moveright()" style="margin-left: 0"/><br/>
<input id="down" class="btn" type="button" value="DOWN" onclick="movedown()" style="margin-left: 50px"/><br/>
<input id="shun" class="btn" type="button" value="SHUN" onclick="shun()"/>
<input id="ni" class="btn" type="button" value="NI" onclick="ni()"/>

<p>
    聊天室
</p>

<form id="wiselyForm">
    <textarea rows="4" cols="60" name="text"></textarea>
    <input type="submit" name="send"/>
</form>

<script>

    var i = 0;
    var c = document.getElementById("canvas");
    var ctx = c.getContext("2d");

    plantPlane();

    function plantPlane() {
        ctx.fillStyle = "#ffffff";
        ctx.fillRect(0, 0, 500, 500);
        plantForm();
        var x = distanceFromBoundary + head[0] * LEN;
        var y = distanceFromBoundary + head[1] * LEN;
        ctx.fillStyle = "#410c0c";
        ctx.fillRect(x, y, LEN, LEN);
        if (direction == 0) {
            ctx.fillRect(x - LEN * 2, y + LEN * 1, LEN * 5, LEN);
            ctx.fillRect(x - LEN * 0, y + LEN * 2, LEN * 1, LEN);
            ctx.fillRect(x - LEN * 1, y + LEN * 3, LEN * 3, LEN);
        } else if (direction == 1) {
            ctx.fillRect(x - LEN * 1, y - LEN * 2, LEN, LEN * 5);
            ctx.fillRect(x - LEN * 2, y, LEN, LEN);
            ctx.fillRect(x - LEN * 3, y - LEN * 1, LEN, LEN * 3);
        } else if (direction == 2) {
            ctx.fillRect(x - LEN * 2, y - LEN * 1, LEN * 5, LEN);
            ctx.fillRect(x - LEN * 0, y - LEN * 2, LEN * 1, LEN);
            ctx.fillRect(x - LEN * 1, y - LEN * 3, LEN * 3, LEN);
        } else if (direction == 3) {
            ctx.fillRect(x + LEN * 1, y - LEN * 2, LEN, LEN * 5);
            ctx.fillRect(x + LEN * 2, y, LEN, LEN);
            ctx.fillRect(x + LEN * 3, y - LEN * 1, LEN, LEN * 3);
        }
    }

    function moveleft() {
        var a = shapeOfPlane();

        if (a.xmin > 0) {
            head[0] -= 1;
            plantPlane();
        }
    }

    function moveright() {
        var a = shapeOfPlane();

        if (a.xmax < 14) {
            head[0] += 1;
            plantPlane();
        }
    }

    function moveup() {
        var a = shapeOfPlane();

        if (a.ymin > 0) {
            head[1] -= 1;
            plantPlane();
        }
    }

    function movedown() {
        var a = shapeOfPlane();

        if (a.ymax < 14) {
            head[1] += 1;
            plantPlane();
        }
    }

    function button() {
        document.getElementById("test").innerHTML = i;
        i++;
    }

    function emptyFunc() {

    }

    function ok() {
        ctx.fillStyle = "#31230c";
        document.getElementById("up").disabled = true;
        document.getElementById("down").disabled = true;
        document.getElementById("left").disabled = true;
        document.getElementById("right").disabled = true;
        document.getElementById("shun").disabled = true;
        document.getElementById("ni").disabled = true;
        document.getElementById("ok").disabled = true;
//        document.getElementById("canvas").ondblclick = emptyFunc();

        ctx.fillRect(30, 30, 450, 450);
        plantForm();
        sendSpittle("Ready:x:" + head[0] + ",y:" + head[1] + ",p:" + position);
    }

    function shun() {
        if (direction == 0) {
            head[0] = head[0] + 1;
            head[1] = head[1] + 1;
            direction = 1;
            if (shapeOfPlane().ymin < 0) {
                head[1] += 1;
            }
        } else if (direction == 1) {
            head[0] = head[0] - 1;
            head[1] = head[1] + 1;
            direction = 2;
            if (shapeOfPlane().xmax > 14) {
                head[0] -= 1;
            }
        } else if (direction == 2) {
            head[0] = head[0] - 1;
            head[1] = head[1] - 1;
            direction = 3;
            if (shapeOfPlane().ymax > 14) {
                head[1] -= 1;
            }
        } else if (direction == 3) {
            head[0] = head[0] + 1;
            head[1] = head[1] - 1;
            direction = 0;
            if (shapeOfPlane().xmin < 0) {
                head[0] += 1;
            }
        }
        plantPlane();
    }

    function ni() {
        if (direction == 0) {
            head[0] = head[0] - 1;
            head[1] = head[1] + 1;
            direction = 3;
            if (shapeOfPlane().ymin < 0) {
                head[1] += 1;
            }
        } else if (direction == 1) {
            head[0] = head[0] - 1;
            head[1] = head[1] - 1;
            direction = 0;
            if (shapeOfPlane().xmax > 14) {
                head[0] -= 1;
            }
        } else if (direction == 2) {
            head[0] = head[0] + 1;
            head[1] = head[1] - 1;
            direction = 1;
            if (shapeOfPlane().ymax > 14) {
                head[1] -= 1;
            }
        } else if (direction == 3) {
            head[0] = head[0] + 1;
            head[1] = head[1] + 1;
            direction = 2;
            if (shapeOfPlane().xmin < 0) {
                head[0] += 1;
            }
        }
        plantPlane();
    }

    function shapeOfPlane() {
        var xmax = 0;
        var xmin = 0;
        var ymax = 0;
        var ymin = 0;
        if (direction == 0) {
            ymin = head[1];
            ymax = ymin + 3;
            xmin = head[0] - 2;
            xmax = head[0] + 2;
        } else if (direction == 1) {
            xmax = head[0];
            xmin = xmax - 3;
            ymin = head[1] - 2;
            ymax = head[1] + 2;
        } else if (direction == 2) {
            ymax = head[1];
            ymin = ymin - 3;
            xmin = head[0] - 2;
            xmax = head[0] + 2;
        } else if (direction == 3) {
            xmin = head[0];
            xmax = xmin + 3;
            ymin = head[1] - 2;
            ymax = head[1] + 2;
        }
        document.getElementById("test").innerHTML = xmin + "," + xmax;
        return {
            "xmin": xmin,
            "xmax": xmax,
            "ymin": ymin,
            "ymax": ymax
        };
    }

    function plantForm() {
//        ctx.beginPath();

        for (i = 0; i < 16; i++) {
            ctx.moveTo(30, 30 + i * 30);
            ctx.lineTo(480, 30 + i * 30);
        }
        for (i = 0; i < 16; i++) {
            ctx.moveTo(30 + i * 30, 30);
            ctx.lineTo(30 + i * 30, 480);
        }

        ctx.stroke();
    }

    function dbclick() {
        if (turn == 0) {
            document.getElementById("test").innerHTML = "cannot";
            return;
        }
        var x = event.pageX;
        var y = event.pageY;

        x = Math.floor((x - 30) / 30);
        y = Math.floor((y - 30) / 30);

        ctx.fillStyle = shotcolor;
        ctx.fillRect(distanceFromBoundary + x * LEN, distanceFromBoundary + y * LEN, LEN, LEN);

        if (x >= 0 && x < 15 && y >= 0 && y < 15) {
            sendSpittle("x: " + x + ",y:" + y);
        }
        document.getElementById("test").innerHTML = "not your turn";
        document.getElementById("test1").innerHTML = "x: " + x + ",y:" + y;
        turn = 0;
    }


    $('#wiselyForm').submit(function (e) {
        e.preventDefault();
        var text = $('#wiselyForm').find('textarea[name="text"]').val();
        sendSpittle(text);
    });

    var sock = new SockJS("/endpointChat"); //1
    var stomp = Stomp.over(sock);
    stomp.connect('guest', 'guest', function (frame) {
        stomp.subscribe("/user/queue/notifications", handleNotification);//2
    });


    function handleNotification(message) {
        $('#output').append("<b>Received: " + message.body + "</b><br/>");
        if (message.body == "YourTurn") {
            turn = 1;
            document.getElementById("test").innerHTML = "your turn";
        } else if (message.body == "shotBody") {
            shotcolor = "#ff6450";
        } else if(message.body == "Yourwin") {
            document.getElementById("test").innerHTML = "Yourwin";
        } else {
            shotcolor = "#ffffff";
        }
    }

    function sendSpittle(text) {
        stomp.send("/chat", {}, text);//3
    }

    $('#stop').click(function () {
        sock.close()
    });

</script>
<div id="output"></div>
<p id="test">test</p>
<p id="test1">test</p>

</body>

</html>
